::-webkit-scrollbar {
    display: none;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

/* Navbar */
    #logo {
        width: 350px !important;
    }