::-webkit-scrollbar {
    display: none;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

/* Navbar */
    #logo {
        width: 35px !important;
        height: 42px !important;
        border-radius: 100%;
    }