::-webkit-scrollbar {
    display: none;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

/* Navbar */
    #logo {
        width: 350px !important;
    }

    .nav-item {
        letter-spacing: 0.2vw;
        height: 4vh;
    }

    .rrss {
        color: #616161;
    }

    .rrss:hover {
        color: #212121;
    }

/* Screen MD */
    @media only screen and (max-width: 990px) {

    }